<%= position_form.label :position_id, class: "col-sm-2 col-form-label" %>
<div class="col-sm-10">
  <%= position_form.select :position_id, positions_list, { include_blank: true }, { class: "form-select" } %>
</div>
