<div class="dropdown dropstart p-1 align-content-center">
  <button class="btn btn-outline-dark border-0" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    <i class="bi bi-plus-circle-fill"> Headers</i>
  </button>
  <ul class="dropdown-menu">
    <li><%= link_to "Header 1", 
      document_blocks_path(params: { block: { block_type: "h1", document_id: document_id} }), 
      class: "dropdown-item", type: "button", data: { turbo: true, turbo_method: :post } %></li>
    <li><%= button_to "Header 2", 
      document_blocks_path, 
      params: { block: { block_type: "h1", document_id: document_id } }, 
      class: "dropdown-item" %></li>
    <li><%= button_to "Header 2", 
      document_blocks_path, 
      params: { block: { block_type: "h1", document_id: document_id } }, 
      class: "dropdown-item" %></li>              
  </ul>
</div>