<div class="container-fluid">
  <div class="conteiner ">
    <h2><%= @document.name %></h2>
    <%= link_to "Setting", new_project_path, class: "btn btn-primary", role: "button" %>
  </div>
  <div class="conteiner m-3">
    <div class="row text-primary my-2 mx-0 p-2 ">
      <div class="col-10 position-relative">
      </div>
      <div class="col-2 border-start border-primary border-2">
        <h3>Blocks</h3>
      </div>
    </div>
  </div>
</div>