<div class="container-fluid">
  <div class="conteiner ">
    <%= link_to "New project", new_project_path, class: "btn btn-primary", role: "button" %>
  </div>
  <div class="conteiner m-3">
    <% @projects.each do |project| %>
      <div class="row text-primary my-2 mx-0 p-2 border border-primary border-2 rounded-2 position-relative">
        <div class="col">
          <h5 class="mt-0"><%= project.name%></h5>
          <% unless project.description.blank? %>
            <p><%= project.description %></p>
          <% end %>
          <%= link_to "Go project", project_path(project), class: "stretched-link link-opacity-50" %>
        </div>
      </div>
    <% end %>
  </div>
</div>