<div class="container  border border-primary border-2 rounded-2 p-3">
  <%= form_with model: @project do |form| %>
    <%= render partial: "form", locals: { form: form } %>
    <%= form.submit "Create", class: "btn btn-primary" %>
  <% end %>
</div>