<%= department_form.label :department_id, class: "col-sm-2 col-form-label" %>
  <div class="col-sm-8">
    <%= department_form.select :department_id, departments_list, { include_blank: true }, { class: "form-select" } %>
</div>