<nav class="navbar navbar-expand fixed-bottom border-top border-primary border-2 p-0" >
  <div class="container-fluid">
    <span class="navbar-text">
      developed by Watermelon Seed
    </span>
  </div>
</nav>