<div class="container-fluid">
  <div class="conteiner ">
    <%= link_to "New member", new_project_path, class: "btn btn-primary", role: "button" %>
  </div>
  <div class="conteiner m-3">
    <% @members.each do |member| %>
      <div class="row text-primary my-2 mx-0 p-2 border border-primary border-2 rounded-2 position-relative">
        <div class="col">
          <h5 class="mt-0"><%= member.name%></h5>
        </div>
      </div>
    <% end %>
  </div>
</div>